* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.tab {
    padding: 0; 
    text-align: center;
    margin: auto;
    width: 100%;
}
.HubLogPage {
    padding: 0; 
    text-align: center;
    overflow: hidden; 
    margin: auto;
}

.HubLogPage section {
    padding: 10px 5px 0;
    
}

/* 
.HubLogPage section p{
    display: flex;
}

.HubLogPage p h3 {
    margin-right: 15px;
} */
.logtable section{
    display: flex;
    flex-direction: column;
}

.logtable .log-row {
    display: flex;
    flex-direction: row;
}

.logtable .log-label {
    width: 30%;
    white-space: pre;
    float: left;
    text-align: left;
    padding-left: 6px;
}
.logtable .log-content{
    float: right;
    text-align: right;
    width: 90%;
    margin-right: 20px;
    white-space: pre;
}

/*라디오버튼 숨김*/
.tab input {
    display: none;
}

.tab label {
    display: inline-block;
    margin: 0 0 -1px;
    width: 100px;
    padding: 10px  10px;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.tab label:hover {
    color: black;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}


.tab input:checked + label {
    font-weight: bold;
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #E1E0DA;
    border-bottom: 1px solid #ffffff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
    display: block;}

