* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.tab {
    padding: 0; 
    text-align: center;
    margin: auto;
    width: 100%;
}
.main {
    
   padding: 0; 
    text-align: center;
   overflow: hidden; 
    margin: auto;}

section {
    display: none;
    padding: 20px 0 0;}

    section p{
        display: flex;
       
    }
    p h3 {
        margin-right: 15px;
    }


/*라디오버튼 숨김*/
  input {
      display: none;}

label {
    display: inline-block;
    margin: 0 0 -1px;
    width: 100px;
    padding: 10px  10px;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;}

label:hover {
    color: #F4E46F;
    cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
    font-weight: bold;
      color: #555;
      border: 1px solid #ddd;
      border-top: 2px solid #E1E0DA;
      border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
    display: block;}

